.App {
    text-align: center;
    background-image: url(https://media.istockphoto.com/id/1174997167/es/foto/fondo-de-madera-vintage-tablas-blancas-viejas-superficie-de-madera-madera-de-tablones-cerca.jpg?s=612x612&w=is&k=20&c=I8IsaSv4rsRMuVv8_kMTPPPPu623NlDZTNBlpUkyRek=/);
    background-repeat: no-repeat;
    background-size: fixed;  
  }
