.App {
  text-align: center;
  background-image: url(https://previews.123rf.com/images/inspiredbythelight/inspiredbythelight1711/inspiredbythelight171100406/89929425-fondo-de-madera-vintage-tel%C3%B3n-de-fondo-de-textura-de-madera-vieja-con-el-patr%C3%B3n-natural-textura-acog.jpg);
  background-repeat: no-repeat;
  background-position: cover;
  background-size: fixed;
}